.env
NOTES

# local
local.db
local.db*
local.db-shm
local.db-wal
raports
maps
data/s3
tree
log

data/beatleader-wss-history
data/beatleader-wss-log
data.zip

apps/cli/target

apps/mod
apps/mod/target
apps/documentation
